.swiperCustom {
    width: 100%;

    &.d1 {
        &.base {
            .a_swiper {
                position: relative;
                height: 100%;

                .w_swiper {
                    .s_swiper {
                        height: auto;
                    }
                }

                .w_pagination {
                    position: absolute;
                    top: 50%;
                    left: 6rem;
                    width: 4rem;
                    height: 32rem;
                    transform: translateY(-50%);
                    background-color: rgba(77, 74, 67, 0.5);
                    border-radius: 4rem;
                    z-index: 10;

                    .a_progress {
                        display: flex;
                        position: relative;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        padding: 2.5rem 0;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;

                        .swiper-pagination-current {
                            color: #fff;
                            font-weight: 600;
                            font-size: 1.2rem;
                            line-height: 1.2rem;
                            font-family: "Roboto", sans-serif;
                        }

                        .a_button {
                            position: relative;
                            width: 1.4rem;
                            height: 1.4rem;

                            .remote {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .progress-bar {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: .1rem;
                        height: 21.4rem;
                        background-color: rgba(255, 255, 255, 0.3);
                        transform: translate(-50%, -50%);
                        z-index: 10;

                        .progress {
                            --progress: 0;
                            width: .2rem;
                            height: 21.4rem;
                            stroke-dasharray: 230;
                            stroke-dashoffset: calc(230 * (1 - var(--progress)));
                        }
                    }
                }
            }
        }
    }

    &.d2 {
        &.base {
            position: relative;
            margin-left: 20rem;

            .a_swiper {
                height: 100%;

                .w_swiper {
                    align-items: center;

                    .s_swiper {
                        width: 60rem;
                        height: auto;
                        padding-right: 18rem;

                        >.link {
                            display: inline-block;
                            height: 100%;

                            .img-desc {
                                transition: .3s ease;
                                overflow: hidden;

                                &.a_top {
                                    height: 0;
                                    opacity: 0;
                                    margin-bottom: 0;

                                    ~.a_bot {
                                        margin-top: 5rem;
                                    }
                                }

                                &.a_bot {
                                    height: 20.2rem;
                                    opacity: 1;
                                }
                            }

                            .a_middle {
                                position: relative;
                                overflow: hidden;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    right: 4rem;
                                    width: 35rem;
                                    height: 17rem;
                                    background-image: url('../images/img/premium-ho6.png');
                                    background-repeat: no-repeat;
                                    transition: transform .3s ease;
                                    transform: translateY(100%);
                                }
                            }

                            &:hover {
                                .a_middle {
                                    &::after {
                                        transform: translateY(0);
                                    }
                                }
                            }
                        }


                        &.swiper-slide-next,
                        &.swiper-slide-prev {
                            >.link {
                                .img-desc {
                                    &.a_top {
                                        height: 20.2rem;
                                        margin-bottom: 5rem;
                                        opacity: 1;
                                    }

                                    &.a_bot {
                                        height: 0;
                                        opacity: 0;
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.d3 {
        .a_swiper {
            position: relative;
            height: 100%;
            overflow: visible;

            .w_swiper {
                align-items: center;

                .s_swiper {
                    position: relative;
                    width: 45.2rem;
                    height: auto;

                    >.link {
                        display: inline-block;
                        overflow: hidden;

                        img {
                            width: 100%;
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border: 0 solid rgba(151, 27, 30, 1);
                        transition: border .3s ease;
                        pointer-events: none;
                    }

                    &:hover {
                        &::after {
                            border: 1rem solid rgba(151, 27, 30, 1);
                        }
                    }
                }
            }

            .a_btn {
                position: absolute;
                top: -10rem;
                right: 11rem;

                .btn {
                    display: inline-block;
                    width: 5rem;
                    height: 5rem;
                    background-repeat: no-repeat;
                    cursor: pointer;

                    &.btn-next {
                        background-image: url('../images/icon/brand-next.png');
                    }

                    &.btn-prev {
                        background-image: url('../images/icon/brand-prev.png');
                    }

                    +.btn {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}