@font-face {
  font-weight: 700;
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard/Pretendard-Bold.subset.woff2") format("woff2"), url("../../fonts/Pretendard/Pretendard-Bold.subset.woff") format("woff"), url("../../fonts/Pretendard/Pretendard-Bold.ttf") format("ttf"), url("../../fonts/Pretendard/Pretendard-Bold.otf") format("eot");
  font-style: normal;
}
@font-face {
  font-weight: 600;
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard/Pretendard-SemiBold.subset.woff2") format("woff2"), url("../../fonts/Pretendard/Pretendard-SemiBold.subset.woff") format("woff"), url("../../fonts/Pretendard/Pretendard-SemiBold.ttf") format("ttf"), url("../../fonts/Pretendard/Pretendard-SemiBold.otf") format("eot");
  font-style: normal;
}
@font-face {
  font-weight: 400;
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard/Pretendard-Regular.subset.woff2") format("woff2"), url("../../fonts/Pretendard/Pretendard-Regular.subset.woff") format("woff"), url("../../fonts/Pretendard/Pretendard-Regular.ttf") format("ttf"), url("../../fonts/Pretendard/Pretendard-Regular.otf") format("eot");
  font-style: normal;
}
@font-face {
  font-weight: 300;
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard/Pretendard-Light.subset.woff2") format("woff2"), url("../../fonts/Pretendard/Pretendard-Light.subset.woff") format("woff"), url("../../fonts/Pretendard/Pretendard-Light.ttf") format("ttf"), url("../../fonts/Pretendard/Pretendard-Light.otf") format("eot");
  font-style: normal;
}
.swiperCustom.d1.base {
  max-width: 164rem;
}
.swiperCustom.d1.base .a_swiper {
  position: relative;
}
.swiperCustom.d1.base .a_swiper .w_pagination {
  position: absolute;
  top: 50%;
  left: 6rem;
  width: 4rem;
  height: 32rem;
  transform: translateY(-50%);
  background-color: rgba(77, 74, 67, 0.5);
  border-radius: 4rem;
  z-index: 10;
}
.swiperCustom.d1.base .a_swiper .w_pagination .a_progress {
  display: flex;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2.5rem 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.swiperCustom.d1.base .a_swiper .w_pagination .a_progress .swiper-pagination-current {
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-family: "Roboto", sans-serif;
}
.swiperCustom.d1.base .a_swiper .w_pagination .a_progress .a_button {
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
}
.swiperCustom.d1.base .a_swiper .w_pagination .a_progress .a_button .remote {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.swiperCustom.d1.base .a_swiper .w_pagination .progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.1rem;
  height: 21.4rem;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.swiperCustom.d1.base .a_swiper .w_pagination .progress-bar .progress {
  --progress: 0;
  width: 0.2rem;
  height: 21.4rem;
  stroke-dasharray: 230;
  stroke-dashoffset: calc(230 * (1 - var(--progress)));
}

.section.component {
  position: relative;
  height: 100vh;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
}
.section.component .i_component {
  display: flex;
  width: 100%;
  height: 100%;
}
.section.component .i_component .a_side {
  position: relative;
  height: 100%;
  max-width: 20rem;
}
.section.component .i_component .a_side .i_side {
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
}
.section.component .i_component .a_side .i_side .a_top .a_logo {
  position: relative;
  text-align: center;
}
.section.component .i_component .a_side .i_side .a_top .a_logo .logo {
  display: inline-block;
  color: rgb(9, 21, 64);
  font-size: 12.5rem;
  line-height: 12.5rem;
  font-family: "Saira Stencil One", sans-serif;
  transform: skew(10deg, 15deg);
}
@media (max-width: 1023px) {
  .section.component .i_component .a_side .i_side .a_top .a_logo .logo {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
.section.component .i_component .a_side .i_side .a_top .a_logo::after {
  display: block;
  position: absolute;
  bottom: -2rem;
  width: 100%;
  height: 0.1rem;
  content: "";
  background-color: rgb(0, 0, 34);
}
.section.component .i_component .a_side .i_side .a_top::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.1rem;
  height: 12.5rem;
  content: "";
  background-color: rgb(0, 0, 34);
}
@media (max-width: 1023px) {
  .section.component .i_component .a_side .i_side .a_top::after {
    height: 4.5rem;
  }
}
.section.component .i_component .a_side .i_side .a_top + .a_bottom {
  margin-top: 4rem;
}
@media (max-width: 1023px) {
  .section.component .i_component .a_side .i_side .a_top + .a_bottom {
    margin-top: 3rem;
  }
}
.section.component .i_component .a_side .i_side .a_bottom {
  display: flex;
  height: 100%;
  flex-direction: column;
  border-right: 0.1rem solid rgb(0, 0, 34);
}
.section.component .i_component .a_side .i_side .a_bottom .a_menu {
  width: 20rem;
  flex: 1;
}
@media (max-width: 1023px) {
  .section.component .i_component .a_side .i_side .a_bottom .a_menu {
    width: 10rem;
  }
}
.section.component .i_component .a_side .i_side .a_bottom .copyright {
  display: inline-block;
  color: #091540;
  font-size: 2rem;
  line-height: 2rem;
}
@media (max-width: 1023px) {
  .section.component .i_component .a_side .i_side .a_bottom .copyright {
    display: none;
  }
}
.section.component .i_component .a_component {
  width: 100%;
}
.section.component .i_component .a_component .a_header {
  display: flex;
  position: relative;
  flex-direction: column;
}
.section.component .i_component .a_component .a_header .a_tit {
  flex: 1;
  padding-left: 4rem;
}
@media (max-width: 1023px) {
  .section.component .i_component .a_component .a_header .a_tit {
    padding-left: 3rem;
  }
}
.section.component .i_component .a_component .a_header .a_tit .cate {
  color: rgb(118, 146, 255);
  font-size: 3.9rem;
  line-height: 4.1rem;
}
@media (max-width: 1023px) {
  .section.component .i_component .a_component .a_header .a_tit .cate {
    display: none;
  }
}
.section.component .i_component .a_component .a_header .a_tit .tit {
  color: rgb(61, 81, 140);
  font-size: 8.4rem;
  line-height: 8.4rem;
}
@media (max-width: 1023px) {
  .section.component .i_component .a_component .a_header .a_tit .tit {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
.section.component .i_component .a_component .a_header::after {
  display: block;
  position: absolute;
  bottom: -2rem;
  width: 100%;
  height: 0.1rem;
  content: "";
  background-color: rgb(0, 0, 34);
}
.section.component .i_component .a_component .a_header + .a_contents {
  margin-top: 4rem;
}
.section.component .i_component .a_component .a_contents {
  position: relative;
  padding: 0 2rem;
}
.section.component .i_component .a_component .a_contents .l_contents {
  position: relative;
}
.section.component .i_component .a_component .a_contents .l_contents .w_guide-detail {
  position: absolute;
  top: 3rem;
  right: 3rem;
  z-index: 10;
}
.section.component .i_component .a_component .a_contents .l_contents .w_guide-detail .a_button {
  display: block;
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: rgb(0, 0, 0);
  border-radius: 0.8rem;
}
.section.component .i_component .a_component .a_contents .l_contents .w_guide-detail .a_button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease;
  box-sizing: content-box;
}
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView .w_guide-detailView {
  display: flex;
  padding: 3rem;
  flex-wrap: wrap;
  gap: 2rem;
  border-top: 0.2rem solid transparent;
  border-bottom: 0.2rem solid transparent;
}
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView .w_guide-detailView .l_guide-detailViewList {
  width: 46.5rem;
  padding: 2rem;
  border-bottom: 0.1rem solid rgba(9, 21, 64, 0.5);
}
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView .w_guide-detailView .l_guide-detailViewList .list ~ .list {
  padding-top: 1rem;
}
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView .w_guide-detailView .l_guide-detailViewList .tit,
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView .w_guide-detailView .l_guide-detailViewList .content {
  font-family: "Pretendard";
}
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView .w_guide-detailView .l_guide-detailViewList .tit {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView .w_guide-detailView .l_guide-detailViewList .w_contents {
  display: flex;
}
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView .w_guide-detailView .l_guide-detailViewList .w_contents .content {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView .w_guide-detailView .l_guide-detailViewList .w_contents .content + .content::before {
  margin: 0 1rem;
  color: rgb(200, 200, 200);
  font-size: 1.4rem;
  content: "|";
}
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView .w_btn {
  display: flex;
  position: absolute;
  top: 4.4rem;
  right: 3rem;
  width: 9.2rem;
  flex-direction: column;
  gap: 0.5rem;
}
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView .w_btn .l_btn {
  position: relative;
  height: 3.2rem;
}
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView .w_btn .l_btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView .w_btn .l_btn.hidden {
  display: none;
}
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView.active {
  padding-top: 1rem;
  opacity: 1;
}
.section.component .i_component .a_component .a_contents .l_contents .a_guide-detailView.active .w_guide-detailView {
  border-color: rgb(9, 21, 64);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

em,
i,
cite,
code,
address {
  font-style: normal;
  font-weight: normal;
}

a,
u,
ins {
  text-decoration: none;
  color: inherit;
}

table caption {
  overflow: hidden;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  color: transparent;
  border: 0;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

label,
img,
input,
select,
textarea,
button,
a {
  vertical-align: middle;
}

input,
button,
select,
textarea {
  font-family: unset;
  appearance: none;
  border-radius: 0;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: text-bottom;
  font-size: smaller;
}

.blind {
  display: block;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  margin: -1px;
  padding: 0;
  width: 0;
  height: 0;
  font-size: 0;
  clip: rect(0 0 0 0);
  pointer-events: none;
}

.section.intro {
  height: 100vh;
  background-color: #FFFFFA;
  overflow: hidden;
}
.section.intro .i_intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 192rem;
  height: 100%;
  padding: 2rem 3.5rem;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .section.intro .i_intro {
    padding: 2rem 2rem;
  }
}
.section.intro .i_intro .a_tit .tit {
  font-size: 18.8rem;
  line-height: 17.2rem;
  color: #3D518C;
}
@media (max-width: 1023px) {
  .section.intro .i_intro .a_tit .tit {
    font-size: 6.2rem;
    line-height: 6.4rem;
  }
}
.section.intro .i_intro .a_txt .txt {
  display: block;
  font-size: 6.4rem;
  line-height: 6.6rem;
  color: #7692FF;
}
@media (max-width: 1023px) {
  .section.intro .i_intro .a_txt .txt {
    font-size: 2.6rem;
    line-height: 2.8rem;
  }
}
.section.intro .i_intro .a_logo {
  position: absolute;
  right: 3.5rem;
  bottom: 0;
}
@media (max-width: 1023px) {
  .section.intro .i_intro .a_logo {
    right: 2rem;
  }
}
.section.intro .i_intro .a_logo .logo {
  font-family: "Saira Stencil One", sans-serif;
  font-size: 37rem;
  line-height: 35rem;
  color: #091540;
}
@media (max-width: 1023px) {
  .section.intro .i_intro .a_logo .logo {
    font-size: 8.8rem;
    line-height: 11.5rem;
  }
}