<!DOCTYPE html>
<html lang="ko">
<head><%-include('../include/_guide.head.ejs') %></head>
<body>
	<div class="wrap">
		<section class="section intro">
			<div class="i_intro">
				<div class="w_intro">
					<div class="a_tit">
						<h2 class="w_tit">
							<span class="tit top">Oclose</span>
							<span class="tit bottom">Publishing Guide</span>
						</h2>
					</div>
					<div class="a_logo">
						<strong class="logo top">O</strong>
						<strong class="logo bottom">O</strong>
					</div>
				</div>
				<div class="a_txt">
					<span class="txt ver">Version 1.0</span>
					<span class="txt copyright">Created by Oclose</span>
				</div>
				<div class="a_link">
					<a href="../components/swiper.html" class="link"><span class="txt">Guide View</span></a>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
