<article class="article a_side">
    <div class="i_side">
        <div class="a_top">
            <div class="a_logo">
                <strong class="logo">O</strong>
            </div>
        </div>
        <div class="a_bottom">
            <nav class="a_menu">
            </nav>
            <span class="copyright">Oclose - Markup Guide</span>
        </div>
        <div class="a_btn">
            <button class="btn change-form">
                <span class="blind">레이아웃 폼 변경</span>
            </button>
        </div>
    </div>
</article>