<head><%-include('./_guide.head.ejs', {
	pageJavascript: ''
}) %></head>
<div class="logo-area">
    <a href="/guide/intro/intro.html" class="link main">
        <p class="logo-close split">close</p>
        <h1 class="logo-o top split">o</h1>
        <h1 class="logo-o bottom split">o</h1>
    </a>
</div>