<article class="article a_side">
    <div class="i_side">
        <div class="a_top">
            <div class="a_logo">
                <strong class="logo">O</strong>
            </div>
        </div>
        <div class="a_bottom">
            <nav class="a_menu">
                <ul class="w_menu">
                    <li class="l_menu">
                        <a href="../components/box.html" class="btn">Box</a>
                    </li>
                    <li class="l_menu">
                        <a href="../components/button.html" class="btn">Button</a>
                    </li>
                    <li class="l_menu">
                        <a href="../components/form.html" class="btn">Form</a>
                    </li>
                    <li class="l_menu">
                        <a href="../components/header.html" class="btn">Header</a>
                    </li>
                    <li class="l_menu">
                        <a href="../components/swiper.html" class="btn">Swiper</a>
                    </li>
                    <li class="l_menu">
                        <a href="../components/tab.html" class="btn">Tab</a>
                    </li>
                    <li class="l_menu">
                        <a href="../components/table.html" class="btn">Table</a>
                    </li>
                </ul>
            </nav>
            <span class="copyright">Oclose - Pub Guide</span>
        </div>
    </div>
</article>