<!DOCTYPE html>
<html lang="ko">
<head><%-include('../templates/_guide.head.ejs') %></head>
<body>
	<div class="wrap">
		<section class="section component">
            <div class="i_component">
                <%-include('../templates/_guide.component.side.ejs') %>
                <article class="article a_component">
                    <div class="a_header">
                        <div class="a_tit">
                            <span class="cate">component guide</span>
                            <div class="tit">Button</div>
                        </div>
                    </div>
                    <div class="a_contents">
                        
                    </div>
                </article>
            </div>
		</section>
	</div>
</body>
</html>
