<!DOCTYPE html>
<html lang="ko">
<head><%-include('../templates/_guide.head.ejs') %></head>
<body>
	<div class="wrap">
		<section class="section component">
            <div class="i_component">
                <%-include('../templates/_guide.component.side.ejs') %>
                <article class="article a_component">
                    <div class="a_header">
                        <div class="a_tit">
                            <span class="cate">component guide</span>
                            <div class="tit">Swiper</div>
                        </div>
                    </div>
                    <div class="a_contents">
                        <ul class="w_contents">
                            <li class="l_contents">
                                <!-- swiperCustom design1 base-->
                                <div class="swiperCustom
                                 d1 base">
                                    <div class="swiper a_swiper">
                                        <div class="swiper-wrapper w_swiper">
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1640/858" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1641/858" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1642/858" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1643/858" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1644/858" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1645/858" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1646/858" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1647/858" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1648/858" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1649/858" alt=" ">
                                            </div>
                                        </div>
                                        <div class="w_pagination">
                                            <div class="swiper-pagination a_progress">
                                            </div>
                                            <div class="progress-bar">
                                                <span class="blind">progress</span>
                                                <svg class="progress"  viewBox="0 0 1 214" xmlns="http://www.w3.org/2000/svg">
                                                    <line x1="0" y1="0" x2="0" y2="214" stroke="white" />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // swiperCustom design1 -->
                                <div class="w_guide-detail">
                                    <button class="a_button detail">
                                        <span class="blind">상세보기</span>
                                        <svg width="24" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="11" cy="11" r="7" stroke="#ffffff" stroke-width="2"/>
                                            <path d="M20 20L17 17" stroke="#ffffff" stroke-width="2" stroke-linecap="round"/>
                                        </svg>
                                    </button>
                                </div>
                            </li>
                        </ul>
                            
                    </div>
                </article>
            </div>
		</section>
	</div>
</body>
</html>
