<!DOCTYPE html>
<html lang="ko">
<head><%-include('../templates/_guide.head.ejs') %></head>
<body>
	<div class="wrap">
		<section class="section component">
            <div class="i_component">
                <%-include('../templates/_guide.component.side.ejs') %>
                <article class="article a_component">
                    <div class="a_header">
                        <div class="a_tit">
                            <span class="cate">component guide</span>
                            <div class="tit">Swiper</div>
                        </div>
                    </div>
                    <div class="a_contents">
                        <ul class="w_contents">
                            <li class="l_contents">
                                <div class="i_contents">
                                    <div class="swiper a_swiper">
                                        <div class="swiper-wrapper w_swiper">
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1623/804" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1624/804" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1625/804" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1626/804" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1627/804" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1628/804" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1629/804" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1630/804" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1631/804" alt=" ">
                                            </div>
                                            <div class="swiper-slide s_swiper">
                                                <img src="https://unsplash.it/1632/804" alt=" ">
                                            </div>
                                        </div>
                                        <div class="w_pagination">
                                            <div class="swiper-pagination a_progress">
                                            </div>
                                            <div class="progress-bar">
                                                <span class="blind">progress</span>
                                                <svg class="progress"  viewBox="0 0 1 230" xmlns="http://www.w3.org/2000/svg">
                                                    <line x1="0" y1="0" x2="0" y2="230" stroke="white" />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                            
                    </div>
                </article>
            </div>
		</section>
	</div>
</body>
</html>
